AKASH_ROOT=$(pwd)
export AKASH_ROOT

dotenv

SCRIPT_DIR=${AKASH_ROOT}/script

TOOLS=${SCRIPT_DIR}/tools.sh
SEMVER=${SCRIPT_DIR}/semver.sh

GOTOOLCHAIN=$(${TOOLS} gotoolchain)
GOTOOLCHAIN_SEMVER=$(echo "${GOTOOLCHAIN}" | sed 's/go*/v/' | tr -d '\n')

if [[ "$OSTYPE" == "darwin"* ]]; then
    # on MacOS disable deprecation warnings security framework
    CGO_CFLAGS=-Wno-deprecated-declarations

    export CGO_CFLAGS
fi

AKASH_DIRENV_SET=1

dotenv_if_exists dev.env

if [[ ${GOWORK} != "off" ]] && [[ -f go.work ]]; then
	GOWORK=${AKASH_ROOT}/go.work
else
	GOWORK=off
fi

export SCRIPT_DIR
export TOOLS
export SEMVER
export GOTOOLCHAIN
export GOTOOLCHAIN_SEMVER
export AKASH_DIRENV_SET

make cache

PATH_add "$AKASH_DEVCACHE_NODE_BIN"
PATH_add "$AKASH_TS_NODE_BIN"
PATH_add "$AKASH_DEVCACHE_BIN"

if [ ! -L "$AKASH_DEVCACHE_BIN/repo-tools" ]; then
    pushd "$(pwd)" || exit
    cd "$AKASH_DEVCACHE_BIN" || exit
    ln -snf ../../script/tools.sh repo-tools
    popd || exit
fi

make semver
