### dev environment configurations
.idea
.cache
.vscode

### Go template
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
# do not use glob pattern, as it breaks including go.work.example
go.work
go.work.sum

# coverage
coverage.txt

dev.env

.editorconfig
