# Configuration files
.npmrc
.prettierrc
.releaserc
jest.config.js
tsconfig.build.json
tsconfig.json
.eslintrc.json

# Source and test files
src
test
coverage
package

# Miscellaneous directories
.husky
.idea
script
