name: Release TypeScript NPM Package
on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check for changes
        uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            ts:
              - 'ts/**'

      - name: Setup Node.js
        if: steps.changes.outputs.ts == 'true'
        uses: actions/setup-node@v4
        with:
          node-version: 20.8.1
          cache: npm
          cache-dependency-path: ts/package-lock.json

      - name: Setup env
        if: steps.changes.outputs.ts == 'true'
        uses: HatsuneMiku3939/direnv-action@v1

      - name: Run tests
        if: steps.changes.outputs.ts == 'true'
        run: SUB_TESTS=ts make test

      - name: Publish npm package
        if: steps.changes.outputs.ts == 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: make release-ts

      - name: Upload Test Coverage
        uses: codecov/codecov-action@v4
        with:
          files: ./ts/coverage
          token: ${{ secrets.CODECOV_TOKEN }}

